@charset "utf-8";
/**----------------------------------------------------------
 *CSS information 
 *
 * file name	: style.css
 * style info	:  index.html用CSS
 -----------------------------------------------------------*/
@import url("reset.css");
@import url("base.css");

/* print style - 印刷用スタイル
----------------------------------------------------------- */
@import url("print.css") print;

/* ---------------------------------------------------------*/
html, body {
	width: 100%;
	height: 100%;
}

canvas,
article,
header,
footer,
aside,
nav
{
	position:absolute;
	line-height: 0;
}
